<section class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptas blanditiis ea possimus dolor deleniti, laudantium nam eligendi modi eum!</p>
    </div>
</section>