
<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App NodeJS ans MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero commodi a nostrum perspiciatis iusto doloremque?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic odit corrupti, aut sit ullam voluptas sequi doloremque veniam sapiente dicta.</p>
  <a href="http://www.faztweb.com" class="btn btn-primary">faztweb</a>
</div>
